.banner{
    height: 300px;
    width: 100%;
    background-color: rgb(140, 140, 252);
}
.menu a {
    margin-right: 15px;
    text-decoration: none;
}

.banner__foto{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.tituloSobreMi h2 {
    font-size: 3rem;
}

.banner__nombre{
    padding-left: 0.8rem;
}


.banner__sociales {
    padding-right: 0.5rem;
}

.banner__container a {
    text-decoration: none;
    color: black;
    padding: 0.8rem;
}

@media screen and (min-width: 0) {
    .banner{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .banner__foto{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 1.5rem;
    }
    .tituloSobreMi h2 {
        font-size: 2rem;
        margin-left: auto;
        text-align: center;
        
    }
    .banner__descripcionPequeña{
        display: none;
    }
}

@media screen and (min-width: 667px) {
    
}

@media screen and (min-width: 768px) {
    .banner{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
    }
    .tituloSobreMi h2 {
        font-size: 3rem;
    }
    .banner__foto{
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
    .banner__descripcionPequeña{
        display: flex;
        flex-direction: column;
    }
}