.skills{
    /* height: 900px;
    width: 100%; */
    background-color: rgb(140, 140, 252);
    text-align: center;
}

.skills__titulo {
    font-size: 2.5rem;
    padding-top: 5rem;
}

.skills__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.skills__cards {
    height: 220px;
    width: 280px;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__botonAcceso a {
    width: 15rem;
    height: 3.3rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .skills__botonAcceso a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8C8CFC;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 7px;
  }
  .skills__botonAcceso a:hover, .skills__botonAcceso a:focus, .skills__botonAcceso a:active {
    color: white;
  }
  .skills__botonAcceso a:hover:before, .skills__botonAcceso a:focus:before, .skills__botonAcceso a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.skills__cards-barberia {
    background-image: url(../img/barberia-alura2-proyecto.jpg);
    background-size:cover;
    transition: 0.8s;
}
.skills__cards-barberia:hover {
    transform: scale(1.1);
    transition: 0.8s;
    box-shadow: 0 5px 10px #0000;
    cursor: pointer;
}

.skills__cards-encriptador {
    background-image: url(../img/encriptador-proyecto.jpg);
    background-size:cover;
    background-position: center;
    transition: 0.8s;
}
.skills__cards-encriptador:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

.skills__cards-toDoList {
    background-image: url(../img/to-do-list-proyecto.jpg);
    background-size:cover;
    background-position: center;
    transition: 0.8s;
}
.skills__cards-toDoList:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

.skills__cards-weather-channel {
    background-image: url(../img/weather-channel-proyecto.jpg);
    background-size:cover;
    background-position: center;
    transition: 0.8s;
}
.skills__cards-weather-channel:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

.skills__cards-formularioContacto {
    background-image: url(../img/formulario-contacto-proyecto.jpg);
    background-size:cover;
    background-position: center;
    transition: 0.8s;
}
.skills__cards-formularioContacto:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

.skills__cards-formularioColegio {
    background-image: url(../img/incripciones-virtuales-colegio-proyecto2.jpg);
    background-size:cover;
    background-position: center;
    transition: 0.8s;
}
.skills__cards-formularioColegio:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}


.skills__cards-colorGame {
    background-image: url(../img/color-game-proyecto.jpg);
    background-size:cover;
    background-position: center;
    transition: 0.8s;
}
.skills__cards-colorGame:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
}

@media screen and (min-width: 0) {
    .skills{
        height: 2000px;
        width: 100%;
        background-color: rgb(140, 140, 252);
        text-align: center;
    }
    .skills__titulo {
        font-size: 1.8rem;
        padding-top: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .skills{
        height: 900px;
        width: 100%;
        background-color: rgb(140, 140, 252);
        text-align: center;
    }
    .skills__titulo {
        font-size: 2.5rem;
        padding-top: 5rem;
    }
}