body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    transition: 2s;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}



                        /* SECCION DE HABILIDADES O SKILLS */



